@{
    ViewData["Title"] = "Home Page";
}

<h2>View Jquery Below Topics</h2>

<a asp-controller="JqueryMvcBasics" asp-action="Index">Jquery - MVC Ajax Basics</a>
<br />

<a asp-controller="JqueryEmpLeave" asp-action="Index">Jquery - Employee Leave</a>
<br />




